LLM__API_KEY= "your_api_key_here"



LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY ="your_langchain_api_key_here"

LANGSMITH_PROJECT=your_project_name_here